th {
 color: #9e5b20
}
#content {
 background: #ffffff;
}
footer {
 background-color: #f2dfa4;
}
nav {
 background-color: #f5e7ba;
}

.card-header {
 background-color: #f5e7ba
}
.card-body {
 background-color: #f7efd2
}